@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  html{
    background-color:  #f5f5ef;
      background-size: cover;
      font-family: 'Josefin Sans', sans-serif;
  }
  .hero {
    height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fdbe14;
    padding: 5px;
    overflow: hidden;
  }
  
  .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #c29e00;
    border-radius: 30px;
  }
  
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #dc3c4d, #ffc0c0);
    border-radius: 30px;
    transition: 0.5s;
  }
  
  .social-icons {
    margin: 30px auto;
    text-align: center;
  }
  
  .social-icons img {
    width: 40px;
    margin: 0 12px;
  }
  
  .input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #1d7151;
    outline: none;
    background: transparent;
  }
  
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #dc3c4d, #ffc0c0);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  .check-box {
    margin: 30px 10px 30px 0;
  }
  
  span {
    color: #1d7151;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
  }
  
  #login {
    left: 50px;
  }
  
  #register {
    left: 450px;
  }
  .skip-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #dc3c4d, #ffc0c0);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
